
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="">
    <form class="form-horizontal">
        <div class="breadcrumbs-v3">
            <div class="container">
                <h1 class="pull-left">Crear Reporte</h1>
                <ul class="pull-right breadcrumb">
                    <li>Reportes</l>
                    <li>Crear</li>
                </ul>
            </div>
        </div>
    </form>
</div>
