@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="breadcrumbs-v3">
        <div class="container">
            <h1 class="pull-left">Inicio</h1>
        </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            
        </div>
    </div>
</form>
