
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="">
    <form class="form-horizontal">
        <div class="breadcrumbs-v3">
            <div class="container">
                <h1 class="pull-left">Usuarios</h1>
            </div>
        </div>
    </form>
</div>
