@{
    ViewBag.Title = "Registrar Nuevo Usuario";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Usuario</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/software-contable.css" rel="stylesheet" />

    @* loadingPanel set to active just when page is loaded *@
    <style>
        #loadingPanel {
            display: table;
        }
    </style>
</head>
<body ng-app="softwareContable">
    <div ng-controller="userRegistrationController" class="container" ng-init="initRegistrationUrls('@Url.Action("RegisterUser", "Account")')">
        <div class="col-md-offset-1 col-md-10">
            <div class="alert-messages-section">
                <div class="row">

                    <div class="col-md-offset-2 col-md-4 text-justify alert alert-danger alert-validation-messages" ng-click="errorMessages = []" ng-class="{'hidden': errorMessages.length === 0}">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <ul>
                            <li class="text-danger" ng-repeat="errorMessage in errorMessages">{{ errorMessage }}</li>
                        </ul>
                    </div>

                    <div class="col-md-offset-2 col-md-4 text-justify alert alert-success alert-validation-messages" ng-click="successMessages = []" ng-class="{'hidden': successMessages.length === 0}">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <ul class="list-unstyled text-center">
                            <li class="text-success" ng-repeat="successMessage in successMessages">{{ successMessage }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="account-wall text-center">
                <div id="loadingPanel">
                    <div>
                        Page Loading...<br />
                        <i class="fa fa-5x fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

                <h2>Registrar Nuevo Usuario</h2>

                <form class="form-horizontal voffset5">
                    <div class="form-group">
                        <label for="txtUser" class="col-md-5 control-label">Usuario</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txtUser" placeholder="Usuario" ng-model="newUser.UserName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" class="col-md-5 control-label">Email</label>
                        <div class="col-md-3">
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email" ng-model="newUser.Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword" class="col-md-5 control-label">Contraseña</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" id="txtPassword" placeholder="Contraseña" ng-model="newUser.Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtConfirmPassword" class="col-md-5 control-label">Confirmar Contraseña</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirmar Contraseña" ng-model="newUser.ConfirmationPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-1">
                            <a href='@Url.Action("Login", "Account")' class="btn btn-link">Cancelar</a>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-lg btn-block" title="Registrar Nuevo Usuario" ng-click="register()">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @Scripts.Render(
        "~/Scripts/jquery-2.2.0.min.js",
        "~/Scripts/bootstrap.min.js",
        "~/Scripts/angular.js",
        "~/Scripts/utilities/software-contable.js",
        "~/Scripts/controllers/user-registration-controller.js")
</body>
</html>